a.nav.navbar-nav.navbar-logo.mx-auto {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}

.navbar-logo {
    font-weight: bold;
}

.topnav {
    padding-right: 30px;
}