.news-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.article-title {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.card {
    padding-top: 20px;
    padding-bottom: 20px;
}

#author-bold {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .article-title {
        margin-top: 20px;
        margin-bottom: 12px;
    }
}